*{
	margin: 0;
	padding: 0;
}
.header,.footer
{
	height:50px;
	background-color: #cdcdcd;
}
.footer{
	position:absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
ul{
	line-height: 50px;
}
ul>li{
	list-style-type: none;
	display: inline-block;
	
	margin: 0px 10px;
	text-align: center;
}
a{
	color: blue;
	text-decoration: none;
}
.menu{
	color: red;
	width: 100px;
	position: relative;
}
.menu>ul{
	display: none;
	
}
.menu:hover>ul{
	display: block;
	position: absolute;	
	line-height: 30px;
}
.footer>span{
	line-height: 50px;
}

.title{
	padding: 50px;
	text-align: center;
}
table{
	margin: auto;
	text-align: center;
}
table input[type="text"],table input[type="password"]{
	width: 250px;
}
table input[type="submit"],table input[type="button"]{
	width: 100px;
	height: 25px;
}
